In [15]:
import pandas as pd
import numpy as np
import math

A robot moves in a plane starting from the original point (0,0). 
The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
The numbers after the direction are steps. Please write a program to compute the distance from current 
position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.

In [16]:
pos=[0,0]
moves={"UP":[0,1],
       "DOWN":[0,-1],
       "LEFT":[-1,0],
       "RIGHT":[1,0]}

#Set inputs
data=["UP 5",
    "DOWN 3",
    "LEFT 3",
    "RIGHT 2"]

#Move robot on valid moves
for inp in data:
    parts=inp.split()    
    mv=parts[0]
    val=parts[1]
    if mv in moves and val.isnumeric():
        pos[0] += moves[mv][0]*int(val)
        pos[1] += moves[mv][1]*int(val)

#get distance     
distance=math.sqrt(pos[0]**2 + pos[1]**2)
print(distance, "from [0,0] to",pos)

2.23606797749979 from [0,0] to [-1, 2]

#Weather forecasting organization wants to show is it day or night. So, write a
program for such organization to find whether is it dark outside or not.

In [17]:
import time
mytime = time.localtime()
if mytime.tm_hour < 6 or mytime.tm_hour > 18:
    print ('It is night-time')
else:
    print ('It is day-time')

It is night-time

#Write a program to find distance between two locations when their latitude and
longitudes are given.

In [18]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0

lat1 = radians(52.2296756)
lon1 = radians(21.0122287)
lat2 = radians(52.406374)
lon2 = radians(16.9251681)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", distance)
print("Should be:", 278.546, "km")

Result: 278.54558935106695
Should be: 278.546 km

#Design a software for bank system. There should be options like cash withdraw,
cash credit and change password. According to user input, the software should
provide required output.

In [21]:
def CashWithdrawal():
    PIN=input('Enter ATM or CARD PIN to proceed:')
    if PIN=='123':
        print ('***Thank You For Banking With Us***')
    else:
        print ('You Have Enterd Invalid PIN. Try Again')

def CashCredit():
    PIN=input('Enter ATM or CARD PIN to proceed:')
    if PIN=='123':
        AMT=input('Enter Amount That You Wish to Credit To Bank:')
        print ('***Thank You For Banking With Us***')
    else:
        print ('You Have Enterd Invalid PIN. Try Again')

def ChangePassword():
    PIN=input('Enter ATM or CARD PIN to proceed:')
    if PIN=='123':
        OLD_PWD=raw_input('Please Enter Your Old Password:')
        print ('***Thank You For Banking With Us***')
    else:
        print ('You Have Enterd Invalid PIN. Try Again')

def Main():
    print ('Welcome to XYZ Bank\nChoose from below options')
    print ('1. Case withdrawal\n2. Cash credit\n3. Change password')
    opt=input('Enter your option:')
    if opt=='1':
        CashWithdrawal()
    if opt=='2':
        CashCredit()
    if opt=='3':
        ChangePassword()

Main()

Welcome to XYZ Bank
Choose from below options
1. Case withdrawal
2. Cash credit
3. Change password
Enter your option:1
Enter ATM or CARD PIN to proceed:123
***Thank You For Banking With Us***

#Write a program which will find all such numbers which are divisible by 7 but are
not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained
should be printed in a comma-separated sequence on a single line.

In [29]:
liste = []
for i in range(2000,3201):
    if (i%7==0) and (i%5!=0):
        liste.append(i)
    else:
        pass
print(liste)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

#Write a program which can compute the factorial of a given numbers. Use recursion
to find it.

In [30]:
def recur_factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*recur_factorial(n-1)  
# take input from the user  
num = int(input("Enter a number: "))  
# check is the number is negative  
if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   print("The factorial of",num,"is",recur_factorial(num))

Enter a number: 8
The factorial of 8 is 40320

Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H: C is 50. H is 30.
D is the variable whose values should be input to your program in a commaseparated
sequence.

In [33]:
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print (value)

10
['6']

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional
array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,Â¡Y-

In [35]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

#Write a program that accepts a comma separated sequence of words as input and
prints the words in a comma-separated sequence after sorting them alphabetically.

In [5]:
my_words = input("enter the words:")
words = [word for word in my_words.split(",")]
print(",".join(sorted(list(set(words)))))

enter the words:jack,john,alpha,beta,zeta
alpha,beta,jack,john,zeta

Write a program that accepts sequence of lines as input and prints the lines after
making all characters in the sentence capitalized.

In [7]:
lines = []
while True:
    l = input()
    if l:
        lines.append(l.upper())
    else:
        break

for l in lines:
    print(l)

hi
how
are
you

HI
HOW
ARE
YOU

Write a program that accepts a sequence of whitespace separated words as input
and prints the words after removing all duplicate words and sorting them
alphanumerically.

In [8]:
words = input("Enter sequence of words separated by whitespace: ").split(' ')
words_set = set(words)
print (' '.join(sorted(words_set)))
print (words_set)

Enter sequence of words separated by whitespace: hello world and practice makes perfect and hello world again
again and hello makes perfect practice world
{'makes', 'and', 'again', 'perfect', 'world', 'hello', 'practice'}

Write a program which accepts a sequence of comma separated 4 digit binary
numbers as its input and then check whether they are divisible by 5 or not. The
numbers that are divisible by 5 are to be printed in a comma separated sequence.

In [9]:
items = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        items.append(p)
print(','.join(items))

1101,1010,0101
1010,0101

Write a program that accepts a sentence and calculate the number of upper case
letters and lower case letters.

In [11]:
my_sentence = input("Enter the sentence:")
d={"UPPER_CASE":0, "LOWER_CASE":0}
for c in my_sentence:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
            pass
print(d)

Enter the sentence:How DID you Do that
{'UPPER_CASE': 5, 'LOWER_CASE': 10}

Give example of fsum and sum function of math library.

In [12]:
import math

In [23]:
math.fsum(range(10))

45.0

In [28]:
sum(range(10))

45

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:

os.chdir("C:\\Users\\Manoj\\Desktop\\Edureka_Python")
os.getcwd()

'C:\\Users\\Manoj\\Desktop\\Edureka_Python'

In [3]:
bank_data = pd.read_csv("bank-data.csv")

In [37]:
bank_data.head()

   age          job  marital    y
0   20      student   single  yes
1   32   management   single  yes
2   49   technician  married  yes
3   32  blue-collar  married  yes
4   33   management  married  yes

In [4]:
jobs=list(set(bank_data.iloc[:,1].values))
jobs

['services',
 'blue-collar',
 'admin.',
 'self-employed',
 'entrepreneur',
 'technician',
 'housemaid',
 'student',
 'management']

In [5]:
minAge=min(bank_data.age)
maxAge=max(bank_data.age)

age_criteria = {"minAge":19,"maxAge" :80}
type(age_criteria)

dict

In [11]:
while True:
    profession = str.casefold(input("Enter your profession:"))
    age = int(input("Enter your age:"))
    
    if profession in jobs and age in range(minAge,maxAge):
        print("You are Eligible for the loan.")
    elif profession == 'END':
        break

Enter your profession:end
Enter your age:20
Enter your profession:
Enter your age:

ValueError: invalid literal for int() with base 10: ''

In [37]:
cust = pd.read_csv("FairDealCustomerData.csv")
cust

                 Name                      FullName  Score
0              Braund              Mr. Owen Harris       1
1           Heikkinen                  Miss. Laina       0
2               Allen            Mr. William Henry       0
3               Moran                    Mr. James       0
4            McCarthy                Mr. Timothy J       0
5             Bonnell              Miss. Elizabeth       0
6           Andersson             Mr. Anders Johan       0
7            Williams           Mr. Charles Eugene       1
8          Masselmani                  Mrs. Fatima       0
9              Fynney                 Mr. Joseph J       0
10            Beesley                 Mr. Lawrence       0
11             Sloper         Mr. William Thompson       0
12               Emir            Mr. Farred Chehab       0
13           Todoroff                    Mr. Lalio       0
14          Uruchurtu                Don. Manuel E       1
15              Glynn            Miss. Mary Agatha       0
16            Wheadon                 Mr. Edward H       0
17              Meyer             Mr. Edgar Joseph       0
18          Holverson          Mr. Alexander Oskar       0
19              Mamee                    Mr. Hanna       0
20             Kraeff                  Mr. Theodor       0
21             Rogers             Mr. William John       1
22             Lennon                    Mr. Denis       0
23             Samaan                  Mr. Youssef       0
24              Ostby      Mr. Engelhart Cornelius       0
25            Woolner                     Mr. Hugh       0
26              Novel                 Mr. Mansouer       0
27         Sirayanian                    Mr. Orsen       0
28              Icard                 Miss. Amelie       1
29             Harris          Mr. Henry Birkhardt       0
..                ...                           ...    ...
502        Augustsson                   Mr. Albert       0
503           Compton           Miss. Sara Rebecca       0
504            Sirota                  Mr. Maurice       1
505              Chip                    Mr. Chang       0
506          Marechal                   Mr. Pierre       0
507          Serepeca                Miss. Augusta       0
508     Lemberopolous                  Mr. Peter L       0
509            Abbing                  Mr. Anthony       0
510              Sage           Mr. Douglas Bullen       0
511           Markoff                    Mr. Marin       1
512            Harper                    Rev. John       0
513          Svensson                    Mr. Johan       0
514              Daly             Mr. Peter Denis        0
515              Razi                   Mr. Raihed       0
516            Hansen              Mr. Claus Peter       0
517              Gill             Mr. John William       0
518      Duran y More               Miss. Asuncion       1
519          Roebling   Mr. Washington Augustus II       0
520     van Melkebeke                 Mr. Philemon       0
521            Balkic                    Mr. Cerin       0
522          Carlsson               Mr. Frans Olof       0
523   Vander Cruyssen                   Mr. Victor       0
524            Laleff                   Mr. Kristo       0
525            Markun                   Mr. Johann       1
526          Dahlberg           Miss. Gerda Ulrika       0
527          Banfield          Mr. Frederick James       0
528          Sutehall                 Mr. Henry Jr       0
529          Montvila                  Rev. Juozas       0
530              Behr              Mr. Karl Howell       0
531            Dooley                  Mr. Patrick       0

[532 rows x 3 columns]

In [31]:
from re import split

In [44]:
names = list(cust.FullName)
names

[' Mr. Owen Harris ',
 ' Miss. Laina ',
 ' Mr. William Henry ',
 ' Mr. James ',
 ' Mr. Timothy J ',
 ' Miss. Elizabeth ',
 ' Mr. Anders Johan ',
 ' Mr. Charles Eugene ',
 ' Mrs. Fatima ',
 ' Mr. Joseph J ',
 ' Mr. Lawrence ',
 ' Mr. William Thompson ',
 ' Mr. Farred Chehab ',
 ' Mr. Lalio ',
 ' Don. Manuel E ',
 ' Miss. Mary Agatha ',
 ' Mr. Edward H ',
 ' Mr. Edgar Joseph ',
 ' Mr. Alexander Oskar ',
 ' Mr. Hanna ',
 ' Mr. Theodor ',
 ' Mr. William John ',
 ' Mr. Denis ',
 ' Mr. Youssef ',
 ' Mr. Engelhart Cornelius ',
 ' Mr. Hugh ',
 ' Mr. Mansouer ',
 ' Mr. Orsen ',
 ' Miss. Amelie ',
 ' Mr. Henry Birkhardt ',
 ' Mr. Albert A ',
 ' Master. Gerios ',
 ' Mr. Vincenz ',
 ' Mr. Stephen Curnow ',
 ' Mr. Apostolos ',
 ' Mr. Lee ',
 ' Mr. Sigurd Hansen ',
 ' Mr. Ivan ',
 ' Mr. Rahamin Haim ',
 ' Miss. Elizabeth ',
 ' Mr. Achille ',
 ' Mr. Jan Baptist ',
 ' Miss. Brigdet Delia ',
 ' Mr. Francisco M ',
 ' Mr. Selman Francis ',
 ' Miss. Mabel Helen ',
 ' Mr. Francesco ',
 ' Mr. Emil ',
 ' Mr. Herbert Fuller ',
 ' Mr. Bertram Frank ',
 ' Mr. Daniel ',
 ' Mr. Charles Joseph ',
 ' Mr. George B ',
 ' Mr. William Bertram ',
 ' Mr. Sinai ',
 ' Miss. Matilda ',
 ' Mr. Gustaf Joel ',
 ' Mr. Anders Vilhelm ',
 ' Mr. Stoytcho ',
 ' Mr. Albert Johan ',
 ' Mr. Tido ',
 ' Miss. Bertha ',
 ' Mr. Walter Chamberlain ',
 ' Mr. David John ',
 ' Mr. Patrick ',
 ' Mr. William John Robert ',
 ' Mr. Quigg Edmond ',
 ' Mr. Leonard Charles ',
 ' Mr. Nicholas ',
 ' Miss. Susan ',
 ' Mr. Percival Wayland ',
 ' Mr. Martin ',
 ' Mr. Fridtjof Arne ',
 ' Miss. Anna ',
 ' Mr. Johan ',
 ' Mr. Jozef ',
 ' Mr. Samuel James Hayden ',
 ' Mr. Emile ',
 ' Mr. Jacques Heath ',
 ' Mr. Victor ',
 ' Miss. Anna Sofia ',
 ' Rev. Thomas Roussel Davids ',
 ' Rev. Robert James ',
 ' Mr. Alfonzo ',
 ' Mr. Austin Blyler ',
 ' Mr. Ole Martin ',
 ' Mr. Charles Duane ',
 ' Mr. Harry ',
 ' Mr. Mile ',
 ' Master. Thomas Henry ',
 ' Mr. John Hatfield ',
 ' Mr. John Viktor ',
 ' Mr. John D ',
 ' Mr. Lee ',
 ' Mr. Wyckoff ',
 ' Mr. James Clinch ',
 ' Master. Henry Forbes ',
 ' Miss. Ann Elizabeth ',
 ' Mr. Reginald ',
 ' Mr. Lionel ',
 ' Miss. Constance Gladys ',
 ' Mr. Rene ',
 ' Mr. Hugh Roscoe ',
 ' Mr. John ',
 ' Mr. Stjepan ',
 ' Miss. Elise ',
 ' Mr. Robert ',
 ' Mr. Karl Siegwart Andreas ',
 ' Mr. Nestor Cyriel ',
 ' Mr. Frederick ',
 ' Mr. Jakob Alfred ',
 ' Mr. Gerious ',
 ' Mr. Karl Alfred ',
 ' Mr. Nassef Cassem ',
 ' Mr. Henry ',
 ' Mr. Ahmed ',
 ' Miss. Clear Annie ',
 ' Mr. John Henry ',
 ' Mr. Hans Kristensen ',
 ' Mr. Philip ',
 ' Miss. Madeleine ',
 ' Miss. Eliina ',
 ' Mr. Sidney Samuel ',
 ' Miss. Albina ',
 ' Mr. Walter ',
 ' Mr. James H ',
 ' Mr. George Henry ',
 ' Mr. Christo ',
 ' Mr. Frederick Maxfield ',
 ' Mr. Karl Ivar Sven ',
 ' Miss. Mathilde ',
 ' Mr. Bengt Edvin ',
 ' Mr. Ernst Adolf ',
 ' Mr. Robert William Norman ',
 ' Miss. Alice Phoebe ',
 ' Mr. Stephen ',
 ' Mr. George Henry ',
 ' Miss. Thamine ',
 ' Mr. Reginald Charles ',
 ' Mr. Matti Alexanteri ',
 ' Mr. Sleiman ',
 ' Dr. William Edward ',
 ' Miss. Agda Thorilda Viktoria ',
 ' Mr. Richard Leonard ',
 ' Rev. Ernest Courtenay ',
 ' Mr. James George ',
 ' Mr. William Thomas ',
 ' Mr. William Arthur ',
 ' Mrs. Gertrude Maybelle ',
 ' Miss. Gladys ',
 ' Miss. Anna ',
 ' Mr. Thomas ',
 ' Mr. Emil ',
 ' Mr. William ',
 ' Miss. Delia ',
 ' Mr. David ',
 ' Mr. Ernst Ulrik ',
 ' Miss. Amelia ',
 ' Mr. Alexander ',
 ' Mr. William Henry ',
 ' Mr. Charles H ',
 ' Miss. Kornelia Theodosia ',
 ' Miss. Augusta Charlotta ',
 ' Mr. Frank ',
 ' Mr. Nils Johan Goransson ',
 ' Mr. Richard William ',
 ' Mr. Ivan ',
 ' Mr. Theodore ',
 ' Mr. Penko ',
 ' Mr. Masabumi ',
 ' Miss. Kate ',
 ' Mr. Rene Jacques ',
 ' Miss. Aloisia ',
 ' Mr. Ivan ',
 ' Mr. Ervin G ',
 ' Mr. Mansour ',
 ' Mr. Adolphe ',
 ' Mr. Bernard ',
 ' Miss. Nora A ',
 ' Miss. Margaret ',
 ' Mr. Samuel ',
 ' Miss. Laura Mabel ',
 ' Miss. Margaret Bechstein ',
 ' Mr. Ignjac ',
 ' Mr. Benjamin ',
 ' Miss. Helmina Josefina ',
 ' Dr. Ernest ',
 ' Miss. Mary Natalie ',
 ' Mr. Samuel ',
 ' Mr. Yoto ',
 ' Miss. Hilda Mary ',
 ' Mr. George John Jr ',
 ' Miss. Marie Grice ',
 ' Mr. Johan Hansen ',
 ' Miss. Agnes ',
 ' Mr. Austen ',
 ' Mr. George Edward ',
 ' Mr. Mitto ',
 ' Mr. Thomas Clinton ',
 ' Miss. Elizabeth Margaret ',
 ' Mr. Karl Edwart ',
 ' Mr. Stephen Weart ',
 ' Miss. Alice Elizabeth ',
 ' Mr. Erik Gustaf ',
 ' Mr. Charles Frederick Waddington ',
 ' Mr. Stanley Hubert ',
 ' Miss. Marion Elsie ',
 ' Mr. Jovan ',
 ' Mr. Nils Martin ',
 ' Mr. Fletcher Fellows ',
 ' Mr. Josef ',
 ' Mr. Wazli ',
 ' Mr. Leo Peter ',
 ' Miss. Elsie Edith ',
 ' Miss. Annie Clemmer ',
 ' Miss. Mary ',
 ' Mr. Wilhelm ',
 ' Mr. Sebastiano ',
 ' Mr. Adola ',
 ' Mr. Mauritz Nils Martin ',
 ' Miss. Annie ',
 ' Mme. Leontine Pauline ',
 ' Mr. George Achilles ',
 ' Mr. Sante ',
 ' Miss. Aurora Adelia ',
 ' Mr. Harry Elkins ',
 ' Miss. Rosalie ',
 ' Mr. Juho ',
 ' Mr. Vasil ',
 ' Miss. Kate ',
 ' Mr. Matthew ',
 ' Mr. William Ernest ',
 ' Mr. Johan Birger ',
 ' Miss. Marjorie ',
 ' Mr. Erik ',
 ' Miss. Elina ',
 ' Mr. Peter David ',
 ' Dr. Alfred ',
 ' Mr. Juha ',
 ' Mr. John ',
 ' Mr. Pekka Pietari ',
 ' Mr. Shadrach ',
 ' Mr. Carl/Charles Peter ',
 ' Miss. Ida ',
 ' Mr. Todor ',
 ' Mr. Henry ',
 ' Miss. Daisy E ',
 ' Mr. Alfred Fleming ',
 ' Mr. Johan Julian ',
 ' Mr. William John ',
 ' Mr. Stanio ',
 ' Mr. Leo ',
 ' Mr. Phillippe ',
 ' Mr. James ',
 ' Mr. Mauritz Hakan ',
 ' Mr. William Baird ',
 ' Mr. Mark ',
 ' Mr. Johan Henrik Johannesson ',
 ' Mr. Johan Emil ',
 ' Ms. Encarnacion ',
 ' Mr. Bernt ',
 ' Mr. Frederic Kimber ',
 ' Major. Arthur Godfrey ',
 ' Mr. Edwy Arthur ',
 ' Mr. Ingvald Olai Olsen ',
 ' Mr. Benjamin Laventall ',
 ' Mr. Samuel L ',
 ' Mr. Joseph ',
 ' Mr. Ivan ',
 ' Mr. Francis Davis ',
 ' Miss. Ellen ',
 ' Mr. Harry ',
 ' Mr. William ',
 ' Mr. Arthur H ',
 ' Mr. Jacob Christian ',
 ' Mr. Simon ',
 ' Mr. Manuel Estanslas ',
 ' Mr. William ',
 ' Mr. John Montgomery ',
 ' Mr. James ',
 ' Mr. Arthur ',
 ' Mr. Luka ',
 ' Miss. Ida Sofia ',
 ' Mr. George Quincy ',
 ' Mr. Peter Henry ',
 ' Mr. Lewis Richard ',
 ' Mr. Nils August ',
 ' Mr. Richard Henry ',
 ' Mr. Dickinson H ',
 ' Miss. Jeannie ',
 ' Mr. Edward Austin ',
 ' Mr. Francis William ',
 ' Mr. Konrad Mathias Reiersen ',
 ' Mr. Harry Markland ',
 ' Mr. Ramon ',
 ' Mr. Gerious ',
 ' Miss. Elizabeth Mussey ',
 ' Mr. Frederick William ',
 ' Mr. Olof ',
 ' Miss. Kristina Sofia ',
 ' Mr. Henry Margido ',
 ' Mr. Fang ',
 ' Mr. Eugene Patrick ',
 ' Mr. James ',
 ' Mr. James Robert ',
 ' Mr. Satio ',
 ' Mr. William Anderson ',
 ' Mr. Patrick ',
 ' Mr. Stefo ',
 ' Miss. Anne ',
 ' Mr. Janko ',
 ' Mr. Sarkis ',
 ' Mr. Fared ',
 ' Mr. James ',
 ' Miss. Lucy ',
 ' Mr. John ',
 ' Mr. Johan Werner ',
 ' Mr. Richard George ',
 ' Mr. Nakli ',
 ' Miss. Marija ',
 ' Major. Archibald Willingham ',
 ' Miss. Bertha ',
 ' Mr. Samuel Beard ',
 ' Miss. Hedwig Margaritha ',
 ' Miss. Harriet R ',
 ' Mr. Edward ',
 ' Mr. Walter Donald ',
 ' Mr. Arthur Ernest ',
 ' Mr. Julian ',
 ' Mr. Frank John ',
 ' Mr. Percival James R ',
 ' Miss. Velin ',
 ' Mr. George ',
 ' Mr. Victor ',
 ' Mr. Thomas Rowan ',
 ' Mr. Husein ',
 ' Mr. Robert Douglas ',
 ' Mr. John ',
 ' Mr. Alfred J ',
 ' Mr. Tannous ',
 ' Mr. Carl ',
 ' Mr. George ',
 ' Miss. Mary ',
 ' Miss. Ethel ',
 ' Mr. Eiriik ',
 ' Miss. Julie Rachel ',
 ' Mr. William James ',
 ' Mr. John Hugo ',
 ' Mr. Uscher ',
 ' Mr. John Denzil ',
 ' Mr. Maxmillian ',
 ' Mr. Eliezer ',
 ' Mr. Joseph ',
 ' Mr. Matti ',
 ' Mr. William James ',
 ' Miss. Mary ',
 ' Mr. John Henry ',
 ' Mr. Jean Baptiste ',
 ' Miss. Jessie Wills ',
 ' Mr. Alfred ',
 ' Mr. Hanna ',
 ' Mr. Petco ',
 ' Mr. Charles H ',
 ' Mr. Ernst William ',
 ' Mr. Edvard Bengtsson ',
 ' Mr. Milan ',
 ' Mr. Robert Williams ',
 ' Miss. Elizabeth W ',
 ' Mr. Jose Neto ',
 ' Miss. Margaret Jane ',
 ' Mr. John ',
 ' Mr. William Alfred ',
 ' Miss. Alice ',
 ' Mr. Ernst Gilbert ',
 ' Mr. Lawrence ',
 ' Mr. Antoni ',
 ' Mr. Edwin Nelson Jr ',
 ' Mr. Frederick ',
 ' Rev. Charles Leonard ',
 ' Mr. Guentcho ',
 ' Mr. Algernon Henry Wilson ',
 ' Mr. Johan Svensson ',
 ' Dr. Max ',
 ' Mr. William Henry Marsh ',
 ' Miss. Mary ',
 ' Mr. Antti Gustaf ',
 ' Mr. Harvey ',
 ' Mr. Percival ',
 ' Mlle. Emma ',
 ' Mr. Choong ',
 ' Mr. Henry Sleeper ',
 ' Col. Oberst Alfons ',
 ' Mr. Edward ',
 ' Miss. Amy Zillah Elsie ',
 ' Mr. Mito ',
 ' Mr. Leonard Mark ',
 ' Mr. Alexander ',
 ' Mr. George Floyd ',
 ' Mr. Arthur Webster ',
 ' Dr. Henry William ',
 ' Mr. Mohamed ',
 ' Mr. Edward Pomeroy ',
 ' Mr. Peju ',
 ' Mr. Lewis ',
 ' Mr. Reginald Fenton ',
 ' Mr. Knud Paust ',
 ' Mr. Jacob ',
 ' Mr. Thornton ',
 ' Mr. Henry Michael ',
 ' Mr. Charles ',
 ' Mr. Ennis Hastings ',
 ' Mr. Frederick Charles ',
 ' Mr. Thomas Drake Martinez ',
 ' Miss. Katie ',
 ' Mr. Hammad ',
 ' Mr. Thomas William Solomon ',
 ' Mr. Joseph Philippe Lemercier ',
 ' Mr. Albert Adrian ',
 ' Mr. Ali ',
 ' Mr. Khalil ',
 ' Col. John ',
 ' Mr. Charles Henry ',
 ' Mr. James ',
 ' Mr. John Borland ',
 ' Mr. Adolf Mathias Nicolai Olsen ',
 ' Mr. Spencer Victor ',
 ' Mr. Martin ',
 ' Mr. Henrik Juul ',
 ' Mr. Edward Pennington ',
 ' Miss. Alice ',
 ' Mr. Herman ',
 ' Mr. Elmer Zebley ',
 ' Mr. August Viktor ',
 ' Mr. Samuel ',
 ' Miss. Caroline Louise ',
 ' Mr. Michael ',
 ' Mr. Malkolm Joackim ',
 ' Mr. William Henry ',
 ' Mr. Henry Price ',
 ' Mr. Norman Campbell ',
 ' Miss. Margareth ',
 ' Mr. Kurt Arnold Gottfrid ',
 ' Miss. Pieta Sofia ',
 ' Miss. Elisabeth Walton ',
 ' Mr. Robert J ',
 ' Mr. William John ',
 ' Mr. Moses Aaron ',
 ' Mr. Leslie ',
 ' Mr. Gustave J ',
 ' Mr. Kanio ',
 ' Mr. Minko ',
 ' Mr. Walter James ',
 ' Mr. Tyrell William ',
 ' Mr. Neal ',
 ' Mr. Juho ',
 ' Capt. Edward Gifford ',
 ' Miss. Anna ',
 ' Mr. Michael ',
 ' Mr. Johannes Joseph ',
 ' Mr. Lalio ',
 ' Mr. August Sigfrid ',
 ' Mr. Thomas Leonard ',
 ' Mr. John ',
 ' Mr. Iisakki Antino Aijo ',
 ' Dr. Arthur Jackson ',
 ' Miss. Mary ',
 ' Mr. Daniel J ',
 ' Mr. Daniel Danielsen ',
 ' Mr. Rene Aime ',
 ' Mr. Niels Peder ',
 ' Mr. Dibo ',
 ' Mr. Roger ',
 ' Mr. Thomas J ',
 ' Mr. Milton Clyde ',
 ' Mr. Andrew G ',
 ' Mr. William ',
 ' Mr. Benjamin ',
 ' Miss. Stella Anna ',
 ' Mr. William Fisher ',
 ' Mr. Ristiu ',
 ' Mr. Richard ',
 ' Mrs. Mara ',
 ' Mr. Yousseff ',
 ' Mr. Martin ',
 ' Mr. Oskar Arvid ',
 ' Mr. Karl Johan ',
 ' Mr. Thomas Jr ',
 ' Mr. August ',
 ' Mr. William ',
 ' Mr. James ',
 ' Mr. Richard James ',
 ' Mr. Ernest Portage ',
 ' Mr. Richard ',
 ' Miss. Wendla Maria ',
 ' Mr. Albert ',
 ' Mr. John Fredrik Alexander ',
 ' Mr. Nikola ',
 ' Jonkheer. John George ',
 ' Mr. John ',
 ' Mr. Len ',
 ' Mr. Thomas Joseph ',
 ' Mr. Amin ',
 ' Mr. Albert ',
 ' Miss. Sara Rebecca ',
 ' Mr. Maurice ',
 ' Mr. Chang ',
 ' Mr. Pierre ',
 ' Miss. Augusta ',
 ' Mr. Peter L ',
 ' Mr. Anthony ',
 ' Mr. Douglas Bullen ',
 ' Mr. Marin ',
 ' Rev. John ',
 ' Mr. Johan ',
 ' Mr. Peter Denis  ',
 ' Mr. Raihed ',
 ' Mr. Claus Peter ',
 ' Mr. John William ',
 ' Miss. Asuncion ',
 ' Mr. Washington Augustus II ',
 ' Mr. Philemon ',
 ' Mr. Cerin ',
 ' Mr. Frans Olof ',
 ' Mr. Victor ',
 ' Mr. Kristo ',
 ' Mr. Johann ',
 ' Miss. Gerda Ulrika ',
 ' Mr. Frederick James ',
 ' Mr. Henry Jr ',
 ' Rev. Juozas ',
 ' Mr. Karl Howell ',
 ' Mr. Patrick ']

In [47]:
split("Miss.", names[1])

[' ', ' Laina ']

In [53]:
string = ("Mr.","Miss.")

In [57]:
cust[["Title","Name"]]=cust.FullName.str.split(".", expand= True)

In [58]:
cust.head()

              Name             FullName  Score  Title
0     Owen Harris      Mr. Owen Harris       1     Mr
1           Laina          Miss. Laina       0   Miss
2   William Henry    Mr. William Henry       0     Mr
3           James            Mr. James       0     Mr
4       Timothy J        Mr. Timothy J       0     Mr